 A list is a collection of different kinds of values or items.
Since Python lists are mutable, we can change their elements after forming.
A list, a type of sequence data, is used to store the collection of data
 A list is a collection of items separated by commas and denoted by the symbol [].
  Python Lists are just like dynamically sized arrays, declared in other languages (vector in C++ and ArrayList in Java). 
In simple language, a list is a collection of things, enclosed in [ ] and separated by commas.   
    
The characteristics of the List are as follows:

The lists are in order.
The list element can be accessed via the index.
The mutable type of List is
The rundowns are changeable sorts.
The number of various elements can be stored in a list.


Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.
*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

A Python List is a built-in, ordered, mutable collection of elements or items. Each item in a list can be of any data type, including numbers, strings, or other objects like tuples, dictionaries, or even other lists. Lists are versatile and widely used in Python for tasks like data manipulation, organizing, and storage. They are created using square brackets [] with items separated by commas

Characteristics of a Python List
Ordered: Lists maintain the order of elements, allowing you to access items by their index.
Mutable: Lists can be modified after creation, enabling you to add, remove, or change elements.
Dynamic: Lists can grow or shrink in size as needed, adapting to the number of elements.
Heterogeneous: Lists can store elements of different data types, including other lists or objects.
Indexable: Elements in a list can be accessed, updated, or removed using their index position.
Iterable: Lists can be looped over or iterated through, making them ideal for processing collections of items.

 Here are 15 common list functions in Python: append(), extend(), insert(), remove(), pop(), index(), count(), sort(), reverse(), copy(), len(), max(), min(), sum(), and sorted(). These functions allow you to add, remove, sort, search, and manipulate the elements in a list.

Related

In [1]:
a=[] #empty list

In [2]:
type(a)

list

In [4]:
a = ['onion', 'potato', 'ginger', 'cucumber'] # elements are separated by comma in []
type(a)

list

In [5]:
b = ['onion', 'potato', 'ginger', 'cucumber', 1, 3.1416]

In [95]:
a = [ 1, 2, "Ram", 3.50, "Rahul", 5, 6 ]    
b = [ 1, 2, 5, "Ram", 3.50, "Rahul", 6 ]    
a == b

False

In [97]:
emp = [ "John", 102, "USA"]       
Dep1 = [ "CS",10]    
Dep2 = [ "IT",11]      
HOD_CS = [ 10,"Mr. Holding"]      
HOD_IT = [11, "Mr. Bewon"]      
print("printing employee data ...")      
print(" Name : %s, ID: %d, Country: %s" %(emp[0], emp[1], emp[2]))      
print("printing departments ...")     
print("Department 1:\nName: %s, ID: %d\n Department 2:\n Name: %s, ID: %s"%( Dep1[0], Dep1[1], Dep2[0], Dep2[1]))      
print("HOD Details ....")      
print("CS HOD Name: %s, Id: %d" %(HOD_CS[1], HOD_CS[0]))      
print("IT HOD Name: %s, Id: %d" %(HOD_IT[1], HOD_IT[0]))      
print(type(emp), type(Dep1), type(Dep2), type(HOD_CS), type(HOD_IT))

printing employee data ...
 Name : John, ID: 102, Country: USA
printing departments ...
Department 1:
Name: CS, ID: 10
 Department 2:
 Name: IT, ID: 11
HOD Details ....
CS HOD Name: Mr. Holding, Id: 10
IT HOD Name: Mr. Bewon, Id: 11
<class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'>

# Access items

In [98]:
b = ['onion', 'potato', 'ginger', 'cucumber', 1, 3.1416]

In [7]:
b[0]

'onion'

In [8]:
b[1]

'potato'

In [9]:
b[1:5]

['potato', 'ginger', 'cucumber', 1]

In [10]:
b[:5]

['onion', 'potato', 'ginger', 'cucumber', 1]

In [11]:
b[2:]

['ginger', 'cucumber', 1, 3.1416]

In [99]:
b[:]

['onion', 'potato', 'ginger', 'cucumber', 1, 3.1416]

In [12]:
b[-1]

3.1416

In [15]:
b[0][0]

'o'

In [16]:
b[1][0]

'p'

In [17]:
b[2][0]

'g'

In [18]:
b[3][0]

'c'

In [19]:
b[3][-1]

'r'

In [100]:
list = [1,2,3,4,5,6,7]    
print(list[0])    
print(list[1])    
print(list[2])    
print(list[3])    
# Slicing the elements    
print(list[0:6])    
# By default, the index value is 0 so its starts from the 0th element and go for index -1.    
print(list[:])    
print(list[2:5])    
print(list[1:6:2])

1
2
3
4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[2, 4, 6]

In [101]:
# negative indexing example  
list = [1,2,3,4,5]    
print(list[-1])    
print(list[-3:])    
print(list[:-1])    
print(list[-3:-1])

5
[3, 4, 5]
[1, 2, 3, 4]
[3, 4]

# checking data type

In [22]:
print(type(b[0]))
print(type(b[-1]))
print(type(b[-2]))

<class 'str'>
<class 'float'>
<class 'int'>

In [23]:
b

['onion', 'potato', 'ginger', 'cucumber', 1, 3.1416]

# update element

In [24]:
b[0]='rice'
b[4]=570
b[5]=356876.7878

In [25]:
b

['rice', 'potato', 'ginger', 'cucumber', 570, 356876.7878]

In [102]:
# updating list values  
list = [1, 2, 3, 4, 5, 6]       
print(list)       
# It will assign value to the value to the second index     
list[2] = 10     
print(list)      
# Adding multiple-element     
list[1:3] = [89, 78]       
print(list)     
# It will add value at the end of the list    
list[-1] = 25    
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 10, 4, 5, 6]
[1, 89, 78, 4, 5, 6]
[1, 89, 78, 4, 5, 25]

# Python List Operations
The concatenation (+) and repetition (*) operators work in the same way as they were working with the strings. The different operations of list are

Repetition
Concatenation
Length
Iteration
Membership

In [103]:
# repetition of list  
# declaring the list  
list1 = [12, 14, 16, 18, 20]  
# repetition operator *  
l = list1 * 2  
print(l)

[12, 14, 16, 18, 20, 12, 14, 16, 18, 20]

In [104]:
# concatenation of two lists  
# declaring the lists  
list1 = [12, 14, 16, 18, 20]  
list2 = [9, 10, 32, 54, 86]  
# concatenation operator +  
l = list1 + list2  
print(l)

[12, 14, 16, 18, 20, 9, 10, 32, 54, 86]

In [105]:
# size of the list  
# declaring the list  
list1 = [12, 14, 16, 18, 20, 23, 27, 39, 40]  
# finding length of the list  
len(list1)

9

In [106]:
# iteration of the list  
# declaring the list  
list1 = [12, 14, 16, 39, 40]  
# iterating  
for i in list1:   
    print(i)

12
14
16
39
40

In [107]:
# membership of the list  
# declaring the list  
list1 = [100, 200, 300, 400, 500]  
# true will be printed if value exists  
# and false if not  
  
print(600 in list1)  
print(700 in list1)  
print(1040 in list1)  
  
print(300 in list1)  
print(100 in list1)  
print(500 in list1)

False
False
False
True
True
True

In [108]:
# iterating a list  
list = ["John", "David", "James", "Jonathan"]      
for i in list:     
    # The i variable will iterate over the elements of the List and contains each element in each iteration.       
    print(i)

John
David
James
Jonathan

# Python List Built-in Functions
Python provides the following built-in functions, which can be used with the lists.

len()
max()
min()

In [110]:
# maximum of the list  
list1 = [103, 675, 321, 782, 200]  
# large element in the list  
print(max(list1))

782

In [111]:
# minimum of the list  
list1 = [103, 675, 321, 782, 200]  
# smallest element in the list  
print(min(list1))

103

# Append()
to add something new at the end of the list we use append()

list.append (item)

In [26]:
b.append('new')

In [27]:
b

['rice', 'potato', 'ginger', 'cucumber', 570, 356876.7878, 'new']

In [74]:
stdList = ['Uzzal Kumar', 'Applied Math', 46, 9]
# print the list
print("\nThe list before append:\n", stdList)
 
# Append a new item in the list
stdList.append(3.85)
# print the list after append
print("\nThe list after append:\n", stdList)

The list before append:
 ['Uzzal Kumar', 'Applied Math', 46, 9]

The list after append:
 ['Uzzal Kumar', 'Applied Math', 46, 9, 3.85]

In [109]:
#Declaring the empty list    
l =[]    
#Number of elements will be entered by the user      
n = int(input("Enter the number of elements in the list:"))    
# for loop to take the input    
for i in range(0,n):       
    # The input is taken from the user and added to the list as the item    
    l.append(input("Enter the item:"))       
print("printing the list items..")     
# traversal loop to print the list items      
for i in l:     
    print(i, end = "  ")

Enter the number of elements in the list:5
Enter the item:1
Enter the item:2
Enter the item:3
Enter the item:4
Enter the item:5
printing the list items..
1  2  3  4  5

# Insert
The insert() method is used to insert a new item into a particular position in the list.i.e
to add something new at any index  we will use insert()


list.insert(position, item)

In [28]:
b.insert(1,'python')

In [29]:
b

['rice', 'python', 'potato', 'ginger', 'cucumber', 570, 356876.7878, 'new']

In [73]:
Listdata = ['HDD', 'motherboard', 'Printer', 'Scanner', 'Mouse', 'Keyboard','RAM']
# print the list
print("\nThe list before insert:\n", Listdata)

# Insert a new item in the list
Listdata.insert(1,'Processor')
# print the list after insert
print("\nThe list after insert:\n", Listdata)

The list before insert:
 ['HDD', 'motherboard', 'Printer', 'Scanner', 'Mouse', 'Keyboard', 'RAM']

The list after insert:
 ['HDD', 'Processor', 'motherboard', 'Printer', 'Scanner', 'Mouse', 'Keyboard', 'RAM']

# Extend()
The extend() method is used to merge two list items and store the merged items in the first list.

Syntax:


first_list.extend(second_list)

In [30]:
b.extend(['uzzal','kumar','ratul',2104])

In [31]:
b

['rice',
 'python',
 'potato',
 'ginger',
 'cucumber',
 570,
 356876.7878,
 'new',
 'uzzal',
 'kumar',
 'ratul',
 2104]

In [32]:
b+['a','b','c']

['rice',
 'python',
 'potato',
 'ginger',
 'cucumber',
 570,
 356876.7878,
 'new',
 'uzzal',
 'kumar',
 'ratul',
 2104,
 'a',
 'b',
 'c']

In [79]:
clientList1 = ['John','Ella','Micheal','Watson']
clientList2 = ['Abir','Nahar','Zafar']
 
 
# Insert the items of the second at the end of first list
clientList1.extend(clientList2)
# Print the first list after extend
print("The output after extend:\n", clientList1)

The output after extend:
 ['John', 'Ella', 'Micheal', 'Watson', 'Abir', 'Nahar', 'Zafar']

# Remove()
to remove an item from the list

list.remove(item_name)

In [33]:
b.remove('python')

In [34]:
b

['rice',
 'potato',
 'ginger',
 'cucumber',
 570,
 356876.7878,
 'new',
 'uzzal',
 'kumar',
 'ratul',
 2104]

In [75]:
listdata = ['Mango', 'Banana', 'Orange', 'grape', 'Guava', 'Watermelon']
# Print the list
print("List before remove:\n", listdata)
remove_item = input("Enter the fruit name to remove:")
try:
  # Remove a item from the list if exist
  listdata.remove(remove_item.capitalize())
  # Print the list after remove
  print("\nList after remove:\n", listdata)
except ValueError:
  print("Item does not exist in the list")

List before remove:
 ['Mango', 'Banana', 'Orange', 'grape', 'Guava', 'Watermelon']
Enter the fruit name to remove:orange

List after remove:
 ['Mango', 'Banana', 'grape', 'Guava', 'Watermelon']

In [78]:
listdata = ['Mango', 'Banana', 'Orange', 'grape', 'Guava', 'Watermelon']
# Print the list
print("List before remove:\n", listdata)
remove_item = input("Enter the fruit name to remove:")
try:
  # Remove a item from the list if exist
  listdata.remove(remove_item.capitalize())
  # Print the list after remove
  print("\nList after remove:\n", listdata)
except ValueError:
  print("Item does not exist in the list")

List before remove:
 ['Mango', 'Banana', 'Orange', 'grape', 'Guava', 'Watermelon']
Enter the fruit name to remove:dragon
Item does not exist in the list

# Delete
to remove or delete an item from the list when index is known

In [35]:
del b[-1]

In [36]:
b

['rice',
 'potato',
 'ginger',
 'cucumber',
 570,
 356876.7878,
 'new',
 'uzzal',
 'kumar',
 'ratul']

In [56]:

colors =['red', 'green', 'blue', 'orange', 'yellow', 'indigo', 'violet']

In [57]:
del colors[2:5]

In [58]:
colors

['red', 'green', 'indigo', 'violet']

# Pop()
to remove or delete an item from the end of the list  we will use pop()

In [37]:
b.pop()

'ratul'

In [38]:
b

['rice',
 'potato',
 'ginger',
 'cucumber',
 570,
 356876.7878,
 'new',
 'uzzal',
 'kumar']

In [39]:
len(b)

9

In [59]:
colors =['red', 'green', 'blue', 'orange', 'yellow', 'indigo', 'violet']
popped = colors.pop(2)
print(popped)
print(colors)

blue
['red', 'green', 'orange', 'yellow', 'indigo', 'violet']

In [66]:
colors =['red', 'green', 'blue', 'orange', 'yellow', 'indigo', 'violet']

In [67]:
a=colors.pop(5) # to extract an element

In [68]:
a

'indigo'

# Count()
The count() method is used to count the number times that any given item appears in a list.

Syntax:

list.count(item)

In [40]:
b.count('potato')

1

In [41]:
c = ['potato', 'a', 'b', 'potato', 'potato']
c.count('potato')

3

In [80]:
listdata = [12, 23, 5, 27, 45, 5, 56, 6, 65]
# Print the list
print("The list content:\n", listdata)
# Take any numeric data
search_item = int(input("Enter any number to search:"))
print("The %d appears %d times in the list" %(search_item,listdata.count(search_item)))

The list content:
 [12, 23, 5, 27, 45, 5, 56, 6, 65]
Enter any number to search:5
The 5 appears 2 times in the list

# index()
The index() method is used to obtain the position value of any item in the list.

Syntax:

list.index(search_item)
This method takes the search item value as the input and returns with the position value of the item in the list,
if it exists; otherwise, it generates a ValueError.

In [81]:
c = ['potato', 'a', 'b', 'potato', 'potato']

In [82]:
c.index('a')

1

In [85]:
c.index('potato')

0

In [86]:
c.index('potato',1)

3

In [87]:
c.index('potato',3)

3

In [88]:
listdata =  ['John','Ella','Micheal','Watson','Meher']
# Print the list
print("The list content:\n", listdata)
search_item = input("Enter any name to search:")
try:
  print("The %s is found at position %d in the list"
  %(search_item,listdata.index(search_item.capitalize())+1))
except ValueError:
  print("The item does not exist in the list.")

The list content:
 ['John', 'Ella', 'Micheal', 'Watson', 'Meher']
Enter any name to search:watson
The watson is found at position 4 in the list

In [89]:
listdata =  ['John','Ella','Micheal','Watson','Meher']
# Print the list
print("The list content:\n", listdata)
search_item = input("Enter any name to search:")
try:
  print("The %s is found at position %d in the list"
  %(search_item,listdata.index(search_item.capitalize())))
except ValueError:
  print("The item does not exist in the list.")

The list content:
 ['John', 'Ella', 'Micheal', 'Watson', 'Meher']
Enter any name to search:watson
The watson is found at position 3 in the list

# copy()
The copy() method is used to make a copy of a list. 
This method is useful for keeping original list values before modifying the list.

Syntax:

list.copy()

In [90]:
clientList1 = ['John','Ella','Micheal','Watson']
clientList2 = ['Abir','Nahar','Zafar']
# Make a copy of clientList2
originalList2 = clientList2.copy()
# Insert the items of the first list at the end of second list
clientList2.extend(clientList1)
 
# Print the values of clientList2 before extend
print("The original values of clientList2 is:\n", originalList2)
# Print the values of clientList2 after  extend
print("The output after extending clientList2:\n", clientList2)

The original values of clientList2 is:
 ['Abir', 'Nahar', 'Zafar']
The output after extending clientList2:
 ['Abir', 'Nahar', 'Zafar', 'John', 'Ella', 'Micheal', 'Watson']

# Reverse
to reverse the list
The reverse() method is used to reverse the items in any list. This method is useful for sorting lists in descending order.

Syntax:

list.reverse()

In [42]:
b.reverse()

In [43]:
b

['kumar',
 'uzzal',
 'new',
 356876.7878,
 570,
 'cucumber',
 'ginger',
 'potato',
 'rice']

In [44]:
b.reverse()

In [45]:
b

['rice',
 'potato',
 'ginger',
 'cucumber',
 570,
 356876.7878,
 'new',
 'uzzal',
 'kumar']

In [93]:
listdata = [120, 4, 78, 5, 50, 21, 56, 9]
# Print the list
print("The list before sort:\n", listdata)
 
# Sort the list
listdata.sort()
# Reverse the list
listdata.reverse()
 
# Print the list in descending order
print("The list after sort and reverse:\n", listdata)

The list before sort:
 [120, 4, 78, 5, 50, 21, 56, 9]
The list after sort and reverse:
 [120, 78, 56, 50, 21, 9, 5, 4]

# Sort()
to arrange the list beautifully
The sort() method is used to sort list data. 
This method is useful when you are working with the same type of list data and you need to organize the data for any programming purpose.

Syntax:

list.sort()

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [46]:
a = [8, 3, 5, 1, 6, 2, 9, 7, 0, 4]
a.sort()

In [47]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
a = [8, 3, 5, 1, 6, 2, 9, 7, 0, 4]
a.sort(reverse=True)

In [49]:
a

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [70]:
alphabet = ['c', 'b', 'a', 'd', 'f', 'e']
alphabet.sort()
print(alphabet)

['a', 'b', 'c', 'd', 'e', 'f']

In [71]:
friends = ['Shuvo', 'Tuhin', 'Tanvir', 'Dipu', 'Siyam']
friends.sort()
print(friends)

['Dipu', 'Shuvo', 'Siyam', 'Tanvir', 'Tuhin']

In [72]:
friends = ['Shuvo', 'Tuhin', 'Tanvir', 'Dipu', 'Siyam']
friends.sort(reverse=True)
print(friends)

['Tuhin', 'Tanvir', 'Siyam', 'Shuvo', 'Dipu']

In [91]:
listdata = [12, 23, 27, 45, 5, 56, 6, 65]
# Print the list
print("The list before sort:\n", listdata)
 
# Sort the list
listdata.sort()
# Print the list after sort
print("The list after sort:\n", listdata)

The list before sort:
 [12, 23, 27, 45, 5, 56, 6, 65]
The list after sort:
 [5, 6, 12, 23, 27, 45, 56, 65]

In [118]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [119]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

# Clear()
to delete all elements from the list
The clear() method is used to remove all the items in a list and to empty lists. This method is useful for re-assigning the values of a list by removing the previous items.

Syntax:

list.clear()

In [50]:
a = [8, 3, 5, 1, 6, 2, 9, 7, 0, 4]

In [52]:
a.clear()

In [53]:
a

[]

In [54]:
del a

In [55]:
a

NameError: name 'a' is not defined

In [94]:
deptList = ['CSE','English','BBA', 'Pharmacy','Math' ]
# print the list
print("\nThe list content:\n", deptList)
 
# Clear the list
deptList.clear()
# print the list after clear
print("\nThe list after clear:\n", deptList)

The list content:
 ['CSE', 'English', 'BBA', 'Pharmacy', 'Math']

The list after clear:
 []

In [112]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [117]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [114]:
#list comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

Function	Description
Append()	Add an element to the end of the list
Extend()	Add all elements of a list to another list
Insert()	Insert an item at the defined index
Remove()	Removes an item from the list
Clear()	Removes all items from the list
Index()	Returns the index of the first matched item
Count()	Returns the count of the number of items passed as an argument
Sort()	Sort items in a list in ascending order
Reverse()	Reverse the order of items in the list
copy()	Returns a copy of the list
pop()	Removes and returns the item at the specified index. If no index is provided, it removes and returns the last item.

# Built-in functions with List
Function	Description
reduce()	apply a particular function passed in its argument to all of the list elements stores the intermediate result and only returns the final summation value
sum()	Sums up the numbers in the list
ord()	Returns an integer representing the Unicode code point of the given Unicode character
cmp()	This function returns 1 if the first list is “greater” than the second list
max()	return maximum element of a given list
min()	return minimum element of a given list
all()	Returns true if all element is true or if the list is empty
any()	return true if any element of the list is true. if the list is empty, return false
len()	Returns length of the list or size of the list
enumerate()	Returns enumerate object of the list
accumulate()	apply a particular function passed in its argument to all of the list elements returns a list containing the intermediate results
filter()	tests if each element of a list is true or not
map()	returns a list of the results after applying the given function to each item of a given iterable
lambda()	This function can have any number of arguments but only one expression, which is evaluated and returned.