In [ ]:
A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.
A Set in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements.

# Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two or more sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with another set, or any other iterable

In [1]:
A=set()

In [2]:
A

set()

In [6]:
B={}
B

{}

In [5]:
type(B)

dict

In [7]:
A = {'orange', 'banana', 'pear', 'apple'}
A

{'apple', 'banana', 'orange', 'pear'}

In [8]:
A = set('orange', 'banana', 'pear', 'apple')

TypeError: set expected at most 1 argument, got 4

In [9]:
A = set('abracadabra')
A

{'a', 'b', 'c', 'd', 'r'}

In [10]:
 A = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
A

{'apple', 'banana', 'orange', 'pear'}

In [37]:
book_set = {"Bangla", "English", "Math", "Physics"}
print(book_set)

{'Physics', 'Math', 'Bangla', 'English'}

In [61]:
# typecasting list to set
myset = set(["a", "b", "c"])
print(myset)

# Adding element to the set
myset.add("d")
print(myset)

{'c', 'a', 'b'}
{'d', 'c', 'a', 'b'}

In [63]:
myset = set({"a", "b", "c"})
print(myset)

{'c', 'a', 'b'}

# The set() constructor

In [41]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

In [42]:
thisset = set("apple", "banana", "cherry") # note the double round-brackets
print(thisset)

TypeError: set expected at most 1 argument, got 3

In [11]:
A = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
A[0]

TypeError: 'set' object is not subscriptable

# Access Item

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, 
or ask if a specified value is present in a set, by using the in keyword.

In [43]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [44]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

# Add()

In [12]:
A = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
A.add('pineapple')
A

{'apple', 'banana', 'orange', 'pear', 'pineapple'}

In [39]:
book_set = {"Bangla", "English", "Math", "Physics"}
book_set.add("Chemistry")
print(book_set)

{'Math', 'Physics', 'English', 'Bangla', 'Chemistry'}

In [66]:
# A Python program to
# demonstrate adding elements
# in a set

# Creating a Set
people = {"Jay", "Idrish", "Archi"}

print("People:",end = " " )
print(people)

# This will add Daxit
# in the set
people.add("Daxit")

# Adding elements to the
# set using iterator
for i in range(1, 6):
	people.add(i)

print("\nSet after adding element:", end = " ")
print(people)

People: {'Jay', 'Archi', 'Idrish'}

Set after adding element: {1, 2, 3, 4, 5, 'Idrish', 'Archi', 'Daxit', 'Jay'}

In [72]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nAdding other months to the set...");    
Months.add("July");    
Months.add ("August");    
print("\nPrinting the modified set...");    
print(Months)    
print("\nlooping through the set elements ... ")    
for i in Months:    
    print(i)

printing the original set ...
{'April', 'February', 'May', 'January', 'March', 'June'}

Adding other months to the set...

Printing the modified set...
{'April', 'February', 'May', 'August', 'July', 'January', 'March', 'June'}

looping through the set elements ...
April
February
May
August
July
January
March
June

# update()

In [13]:
A

{'apple', 'banana', 'orange', 'pear', 'pineapple'}

In [14]:
A.update('berry', 'grape')

In [15]:
A

{'a',
 'apple',
 'b',
 'banana',
 'e',
 'g',
 'orange',
 'p',
 'pear',
 'pineapple',
 'r',
 'y'}

In [16]:
A = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
A.add('pineapple')
A

{'apple', 'banana', 'orange', 'pear', 'pineapple'}

In [17]:
A.update({'berry', 'grape'})
A

{'apple', 'banana', 'berry', 'grape', 'orange', 'pear', 'pineapple'}

In [45]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'pineapple', 'papaya', 'mango', 'banana', 'apple'}

In [46]:
##The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'orange', 'apple', 'kiwi', 'banana'}

In [49]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'c', 'a', 'b', 3}

In [73]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nupdating the original set ... ")    
Months.update(["July","August","September","October"]);    
print("\nprinting the modified set ... ")     
print(Months);

printing the original set ...
{'April', 'February', 'May', 'January', 'March', 'June'}

updating the original set ...

printing the modified set ...
{'October', 'April', 'February', 'May', 'August', 'September', 'July', 'January', 'March', 'June'}

# remove()

In [18]:
A = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
A.remove('apple')

In [19]:
A

{'banana', 'orange', 'pear'}

In [20]:
A.remove('berry')
A

KeyError: 'berry'

In [40]:
book_set = {"Bangla", "English", "Math", "Physics"}
book_set.remove("English")
print(book_set)

{'Physics', 'Math', 'Bangla'}

In [75]:
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.remove("January");    
months.remove("May");    
print("\nPrinting the modified set...");    
print(months)

printing the original set ...
{'April', 'February', 'May', 'January', 'March', 'June'}

Removing some months from the set...

Printing the modified set...
{'April', 'February', 'March', 'June'}

# discard()

In [21]:
A = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
A.discard('apple')

In [22]:
A

{'banana', 'orange', 'pear'}

In [23]:
A.discard('cherry')
A

{'banana', 'orange', 'pear'}

In [74]:
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.discard("January");    
months.discard("May");    
print("\nPrinting the modified set...");    
print(months)    
print("\nlooping through the set elements ... ")    
for i in months:    
    print(i)

printing the original set ...
{'April', 'February', 'May', 'January', 'March', 'June'}

Removing some months from the set...

Printing the modified set...
{'April', 'February', 'March', 'June'}

looping through the set elements ...
April
February
March
June

In [76]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving items through discard() method...");    
Months.discard("Feb"); #will not give an error although the key feb is not available in the set    
print("\nprinting the modified set...")    
print(Months)    
print("\nRemoving items through remove() method...");    
Months.remove("Jan") #will give an error as the key jan is not available in the set.     
print("\nPrinting the modified set...")    
print(Months)

printing the original set ...
{'April', 'February', 'May', 'January', 'March', 'June'}

Removing items through discard() method...

printing the modified set...
{'April', 'February', 'May', 'January', 'March', 'June'}

Removing items through remove() method...

KeyError: 'Jan'

# pop()

In [25]:
 A = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
B=A.pop()

In [26]:
B

'orange'

In [27]:
A

{'apple', 'banana', 'pear'}

In [47]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

# clear()

In [28]:
A = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
A.clear()

In [29]:
A

set()

# del()
The del keyword will delete the set completely:

In [48]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# union()

In [31]:
A = {1, 2, 3, 4, 5}
B = {5,6, 7, 8}
U=A.union(B)
U

{1, 2, 3, 4, 5, 6, 7, 8}

In [55]:
# first set
A = {1, 3, 5}

# second set
B = {0, 2, 4}

# perform union operation using |
print('Union using |:', A | B)

# perform union operation using union()
print('Union using union():', A.union(B))

Union using |: {0, 1, 2, 3, 4, 5}
Union using union(): {0, 1, 2, 3, 4, 5}

In [67]:
# Python Program to
# demonstrate union of
# two sets

people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

# Union using union()
# function
population = people.union(vampires)

print("Union using union() function")
print(population)

# Union using "|"
# operator
population = people|dracula

print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Archil', 'Arjun', 'Jay', 'Karan', 'Idrish'}

Union using '|' operator
{'Archil', 'Raju', 'Deepanshu', 'Jay', 'Idrish'}

In [77]:
# Create three sets  
set1 = {1, 2, 3}  
set2 = {2, 3, 4}  
set3 = {3, 4, 5}  
  
# Find the common elements between the three sets  
common_elements = set1.union(set2, set3)  
  
# Print the common elements  
print(common_elements)

{1, 2, 3, 4, 5}

# intersection

In [32]:
A = {1, 2, 3, 4, 5}
B = {5,6, 7, 8}
I=A.intersection(B)
I

{5}

In [57]:
# first set
A = {1, 3, 5}

# second set
B = {1, 2, 3}

# perform intersection operation using &
print('Intersection using &:', A & B)

# perform intersection operation using intersection()
print('Intersection using intersection():', A.intersection(B))

Intersection using &: {1, 3}
Intersection using intersection(): {1, 3}

In [69]:
# Python program to
# demonstrate intersection
# of two sets

set1 = set()
set2 = set()

for i in range(5):
	set1.add(i)

for i in range(3,9):
	set2.add(i)

# Intersection using
# intersection() function
print(set1)
print(set2)
set3 = set1.intersection(set2)

print("Intersection using intersection() function")
print(set3)

# Intersection using
# "&" operator
set3 = set1 & set2

print("\nIntersection using '&' operator")
print(set3)

{0, 1, 2, 3, 4}
{3, 4, 5, 6, 7, 8}
Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [78]:
# Create three sets  
set1 = {1, 2, 3}  
set2 = {2, 3, 4}  
set3 = {3, 4, 5}  
  
# Find the common elements between the three sets  
common_elements = set1.intersection(set2, set3)

# The intersection_update() method
The intersection_update() method removes the items from the original set that are not present in both the sets (all the sets if more than one are specified).

The intersection_update() method is different from the intersection() method since it modifies the original set by removing the unwanted items, on the other hand, the intersection() method returns a new set.

In [85]:
a = {"Devansh", "bob", "castle"}    
b = {"castle", "dude", "emyway"}    
c = {"fuson", "gaurav", "castle"} 
a1 = {"Devansh", "bob", "castle"}   
d=set()   
a.intersection_update(b, c)    
a1.intersection(b, c)    
    
print(a1)
print(a)

{'bob', 'castle', 'Devansh'}
{'castle'}

# difference()

In [33]:
A = {1, 2, 3, 4, 5}
B = {5,6, 7, 8}
D=A.difference(B)
D

{1, 2, 3, 4}

In [58]:
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# perform difference operation using &
print('Difference using &:', A - B)

# perform difference operation using difference()
print('Difference using difference():', A.difference(B))

Difference using &: {3, 5}
Difference using difference(): {3, 5}

In [79]:
# Python program to
# demonstrate difference
# of two sets

set1 = set()
set2 = set()

for i in range(5):
	set1.add(i)

for i in range(3,9):
	set2.add(i)

# Difference of two sets
# using difference() function
set3 = set1.difference(set2)

print(" Difference of two sets using difference() function")
print(set3)

# Difference of two sets
# using '-' operator
set3 = set1 - set2

print("\nDifference of two sets using '-' operator")
print(set3)
# Print the common elements  
print(common_elements)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}
{3}

In [80]:
# Create three sets  
set1 = {1, 2, 3}  
set2 = {2, 3, 4}  
set3 = {3, 4, 5}  
  
# Find the common elements between the three sets  
common_elements = set1.intersection(set2, set3)  
  
# Print the common elements  
print(common_elements)

{3}

# The symmetric_difference_update() method
will keep only the elements that are NOT present in both sets.

Keep the items that are not present in both sets:

In [50]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'google', 'banana'}

# The symmetric_difference() 
method will return a new set, that contains only the elements that are NOT present in both sets.
Return a set that contains all items from both sets, except items that are present in both:

In [52]:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
z

{'banana', 'cherry', 'google', 'microsoft'}

In [54]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)
z

{2, 'banana', 'cherry', 'google'}

In [59]:
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# perform difference operation using &
print('using ^:', A ^ B)

# using symmetric_difference()
print('using symmetric_difference():', A.symmetric_difference(B))

using ^: {1, 3, 5, 6}
using symmetric_difference(): {1, 3, 5, 6}

In [60]:
# first set
A = {1, 3, 5}

# second set
B = {3, 5, 1}

# perform difference operation using &
if A == B:
    print('Set A and Set B are equal')
else:
    print('Set A and Set B are not equal')

Set A and Set B are equal

# Method	Description
set.add()	Adds an element to the set. If an element is already exist in the set, then it does not add that element.
set.clear()	Removes all the elements from the set.
set.copy()	Returns a shallow copy of the set.
set.difference()	Returns the new set with the unique elements that are not in the another set passed as a parameter.
set.difference_update()	Updates the set on which the method is called with the elements that are common in another set passed as an argument.
set.discard()	Removes a specific element from the set.
set.intersection()	Returns a new set with the elements that are common in the given sets.
set.intersection_update()	Updates the set on which the instersection_update() method is called, with common elements among the specified sets.
set.isdisjoint()	Returns true if the given sets have no common elements. Sets are disjoint if and only if their intersection is the empty set.
set.issubset()	Returns true if the set (on which the issubset() is called) contains every element of the other set passed as an argument.
set.pop()	Removes and returns a random element from the set.
set.remove()	Removes the specified element from the set. If the specified element not found, raise an error.
set.symmetric_difference()	Returns a new set with the distinct elements found in both the sets.
set.symmetric_difference_update()	Updates the set on which the instersection_update() method called, with the elements that are common among the specified sets.
set.union()	Returns a new set with distinct elements from all the given sets.
set.update()	Updates the set by adding distinct elements from the passed one or more iterables.

# Operators for Sets
Sets and frozen sets support the following operators:

Operators	Notes
key in s	containment check
key not in s	non-containment check
s1 == s2	s1 is equivalent to s2
s1 != s2	s1 is not equivalent to s2
s1 <= s2	s1 is subset of s2
s1 < s2	s1 is proper subset of s2
s1 >= s2	s1 is superset of s2
s1 > s2	s1 is proper superset of s2
s1 | s2	the union of s1 and s2
s1 & s2	the intersection of s1 and s2
s1 – s2	the set of elements in s1 but not s2
s1 ˆ s2	the set of elements in precisely one of s1 or s2

In [86]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday"}    
Days3 = {"Monday", "Tuesday", "Friday"}    
    
#Days1 is the superset of Days2 hence it will print true.     
print (Days1>Days2)     
    
#prints false since Days1 is not the subset of Days2     
print (Days1<Days2)    
    
#prints false since Days2 and Days3 are not equivalent     
print (Days2 == Days3)

True
False
False

In [87]:
# 1: Write a program to remove the given number from the set.

my_set = {1,2,3,4,5,6,12,24}  
n = int(input("Enter the number you want to remove"))  
my_set.discard(n)  
print("After Removing:",my_set)

Enter the number you want to remove2
After Removing: {1, 3, 4, 5, 6, 12, 24}

In [88]:
#### to add multiple elements to the set
set1 = set([1,2,4,"John","CS"])  
set1.update(["Apple","Mango","Grapes"])  
print(set1)

{1, 2, 4, 'Apple', 'Mango', 'Grapes', 'John', 'CS'}

In [89]:
##### : Write the program to find the issuperset, issubset and superset.

set1 = set(["Peter","James","Camroon","Ricky","Donald"])  
set2 = set(["Camroon","Washington","Peter"])  
set3 = set(["Peter"])  
  
issubset = set1 >= set2  
print(issubset)  
issuperset = set1 <= set2  
print(issuperset)  
issubset = set3 <= set2  
print(issubset)  
issuperset = set2 >= set3  
print(issuperset)

False
False
True
True

# 
SN	Method	Description
1	add(item)	It adds an item to the set. It has no effect if the item is already present in the set.
2	clear()	It deletes all the items from the set.
3	copy()	It returns a shallow copy of the set.
4	difference_update(....)	It modifies this set by removing all the items that are also present in the specified sets.
5	discard(item)	It removes the specified item from the set.
6	intersection()	It returns a new set that contains only the common elements of both the sets. (all the sets if more than two are specified).
7	intersection_update(....)	It removes the items from the original set that are not present in both the sets (all the sets if more than one are specified).
8	Isdisjoint(....)	Return True if two sets have a null intersection.
9	Issubset(....)	Report whether another set contains this set.
10	Issuperset(....)	Report whether this set contains another set.
11	pop()	Remove and return an arbitrary set element that is the last element of the set. Raises KeyError if the set is empty.
12	remove(item)	Remove an element from a set; it must be a member. If the element is not a member, raise a KeyError.
13	symmetric_difference(....)	Remove an element from a set; it must be a member. If the element is not a member, raise a KeyError.
14	symmetric_difference_update(....)	Update a set with the symmetric difference of itself and another.
15	union(....)	Return the union of sets as a new set.
(i.e. all elements that are in either set.)
16	update()	Update a set with the union of itself and others.