In [1]:
Tuple
Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable.
Tuples are written with round brackets.

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

######Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.
*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

SyntaxError: invalid syntax (Temp/ipykernel_13660/491565985.py, line 2)

In [ ]:
What Is a List in Python?
Lists are one of the most flexible and powerful containers in Python. It is similar to an array in other languages like Java. 

The list has the following features - 

You can use Python lists to store data of multiple types simultaneously.
Lists help preserve data sequences and further process those sequences in other ways. 
Lists are dynamic.
Lists are mutable.
Lists are ordered.
An index is used to traverse a list.
Lists help store multiple items and then iterate over them using a loop. Because lists are dynamic,
you can easily add or remove items anytime.

What Is a Tuple in Python?
Tuples are also a sequence data type containing elements of different data types.

It comes in handy when storing a collection of items, especially if you want those items to be unchanging. 

A python tuple has the following features - 

Tuples are used to store heterogeneous and homogeneous data.
Tuples are immutable in nature.
Tuples are ordered
An index is used to traverse a tuple.
Tuples are similar to lists. It also preserves the data sequence.
As tuples are immutable, they are faster than the list because they are static.

In [2]:
a = ()

In [3]:
type(a)

tuple

In [4]:
a = ('onion', 'potato', 'ginger', 'cucumber')
type(a)

tuple

In [5]:
b = ('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416)
b

('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416)

In [6]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [7]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")  ###### allow duplicate
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [8]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [9]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [10]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [45]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [46]:
my_tuple = 1, 2, 3
my_tuple_ = 1, "Hello", 3.4
print(my_tuple)
print(my_tuple_)

(1, 2, 3)
(1, 'Hello', 3.4)

In [47]:
var1 = ("hello")
print(type(var1))  # <class 'str'>

# Creating a tuple having one element
var2 = ("hello",)
print(type(var2))  # <class 'tuple'>

# Parentheses is optional
var3 = "hello",
print(type(var3))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [53]:
# Python program to create a tuple without using parentheses    
# Creating a tuple    
tuple_ = 4, 5.7, "Tuples", ["Python", "Tuples"]    
# Displaying the tuple created    
print(tuple_)    
# Checking the data type of object tuple_    
print(type(tuple_) )    
# Trying to modify tuple_    
try:    
    tuple_[1] = 4.2    
except:    
    print(TypeError )

(4, 5.7, 'Tuples', ['Python', 'Tuples'])
<class 'tuple'>
<class 'TypeError'>

# The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

In [11]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# Access Item is the same as accessing list item

In [12]:
b = ('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416)

In [13]:
b[1:5]

('potato', 'ginger', 'cucumber', 1)

In [14]:
b[:5]

('onion', 'potato', 'ginger', 'cucumber', 1)

In [15]:
b[2:]

('ginger', 'cucumber', 1, 3.1416)

In [16]:
print(type(b[0]))
print(type(b[4]))
print(type(b[5]))

<class 'str'>
<class 'int'>
<class 'float'>

In [17]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [48]:
# accessing tuple elements using slicing
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# elements 2nd to 4th index
print(my_tuple[1:4])  #  prints ('r', 'o', 'g')

# elements beginning to 2nd
print(my_tuple[:-7]) # prints ('p', 'r')

# elements 8th to end
print(my_tuple[7:]) # prints ('i', 'z')

# elements beginning to end
print(my_tuple[:]) # Prints ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [50]:
t=tuple("Uzzl")
t

('U', 'z', 'z', 'l')

In [51]:
t=tuple([1,2,3])
t

(1, 2, 3)

In [52]:
t1=tuple({1:'a',2:'b'})
t1

(1, 2)

In [54]:
# Python program to show how to access tuple elements    
# Creating a tuple    
tuple_ = ("Python", "Tuple", "Ordered", "Collection")    
print(tuple_[0])      
print(tuple_[1])     
# trying to access element index more than the length of a tuple    
try:    
    print(tuple_[5])     
except Exception as e:    
    print(e)    
# trying to access elements through the index of floating data type    
try:    
    print(tuple_[1.0])     
except Exception as e:    
    print(e)    
# Creating a nested tuple    
nested_tuple = ("Tuple", [4, 6, 2, 6], (6, 2, 6, 7))    
    
# Accessing the index of a nested tuple    
print(nested_tuple[0][3])           
print(nested_tuple[1][1])

Python
Tuple
tuple index out of range
tuple indices must be integers or slices, not float
l
6

In [58]:
mytuple = (1, 2, 3, 4, 5)

# tuples are indexed
print(mytuple[1])
print(mytuple[4])

# tuples contain duplicate elements
mytuple = (1, 2, 3, 4, 2, 3)
print(mytuple)

# adding an element
mytuple[1] = 100
print(mytuple)

2
5
(1, 2, 3, 4, 2, 3)

TypeError: 'tuple' object does not support item assignment

# Tuple Oparation

In [18]:
b

('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416)

In [19]:
b[0]='new'  # truple item can not be changed

TypeError: 'tuple' object does not support item assignment

In [20]:
b+('new',)

('onion', 'potato', 'ginger', 'cucumber', 1, 3.1416, 'new')

In [21]:
b+('u')

TypeError: can only concatenate tuple (not "str") to tuple

In [22]:
b=('rice', 'python', 'potato', 343, 'cucumber', 'finger', 23486.4678)

In [23]:
len(b)

7

In [24]:
b.count('potato')

1

In [25]:
c = ('potato', 'a', 'b', 'potato', 'potato')
c.count('potato')

3

In [26]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.I.E
Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

In [27]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [28]:
#####   Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [29]:
thistuple

('apple', 'banana', 'cherry', 'orange')

In [30]:
#### add tuplt to a tuple
##Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [31]:
######     Remove Item
##### Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
thistuple

('banana', 'cherry')

In [32]:
####   The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [55]:
# Python program to show how slicing works in Python tuples    
# Creating a tuple    
tuple_ = ("Python", "Tuple", "Ordered", "Immutable", "Collection", "Objects")    
# Using slicing to access elements of the tuple    
print("Elements between indices 1 and 3: ", tuple_[1:3])    
# Using negative indexing in slicing    
print("Elements between indices 0 and -4: ", tuple_[:-4])    
# Printing the entire tuple by using the default start and end values.     
print("Entire tuple: ", tuple_[:])

Elements between indices 1 and 3:  ('Tuple', 'Ordered')
Elements between indices 0 and -4:  ('Python', 'Tuple')
Entire tuple:  ('Python', 'Tuple', 'Ordered', 'Immutable', 'Collection', 'Objects')

In [56]:
tuple_ = ("Python", "Tuple", "Ordered", "Immutable", "Collection", "Objects")

AttributeError: 'tuple' object has no attribute 'sort'

# Python - Unpack Tuples

In [33]:
####  Unpacking a Tuple
##  When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
fruits = ("apple", "banana", "cherry")
fruits

('apple', 'banana', 'cherry')

In [34]:
######  But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

# Using Asterisk
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [35]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

# If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [36]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [37]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [38]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [39]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i=i+1

apple
banana
cherry

In [40]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [41]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [42]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [43]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry","apple")
fruits.count("apple")

2

In [44]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry","apple")
fruits.index('cherry')

4

In [57]:
# Creating tuples  
Tuple_data = (0, 1, 2, 3, 2, 3, 1, 3, 2)  
# getting the index of 3  
res = Tuple_data.index(3)  
print('First occurrence of 1 is', res)  
# getting the index of 3 after 4th  
# index  
res = Tuple_data.index(3, 4)  
print('First occurrence of 1 after 4th index is:', res)

First occurrence of 1 is 3
First occurrence of 1 after 4th index is: 5